<h4>Abstracts:</h4>
<% unless @abstracts.empty? %>
<table id='abstracts'><tbody>
<%= render @abstracts %>
</tbody></table>
<% else %>
Sorry, no abstracts yet.
<% end %>

<p><%= button_link_to 'Create new abstract', new_abstract_path %></p>
