<p class='center'>
<span class='left'>Abstract for subject:<%= @abstract.subject %>
</span>
<%= link_to( "Edit", edit_abstract_path(@abstract), :class => 'right' ) %>
</p>

<ul style="clear:both;">
<% Abstract.sections.each do |section| -%>
<li><%= link_to section[:label], send(section[:show],@abstract) %></li>
<% end -%>
</ul>
