<% content_tag_for( :tr, subject, :class => 'row' ) do %>
<td class='patid'>
<%= subject.patid -%>
</td>
<td class='count'>
<%= subject.abstracts_count -%>
</td>
<td class='create'>
<% if subject.abstracts_count >= 2 %>
<%= link_to "Compare &amp; Merge Abstracts", compare_subject_abstracts_path(subject) -%>
<% else %>
<%= form_link_to 'Create New Abstract', subject_abstracts_path(subject) %>
<% end %>
</td>
<% end %><%# content_tag_for %>
