<% content_tag_for( :tr, subject, :class => 'row' ) do %>
<td class='patid'>
<%= subject.patid -%>
</td>
<td class='count'>
<%= subject.abstracts_count -%>
</td>
<td class='create'>
<%= link_to "New Abstract", new_abstract_path(:abstract=>{:patid => subject.patid}) -%>
</td>
<% end %><%# content_tag_for %>
